/* src/components/TypingArea.module.css */
.container {
    padding: 1rem;
    margin-top: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
    min-height: 200px;
    cursor: text;
    outline: none;
}
.char {
    font-family: monospace;
    font-weight: bold;
    font-size: 32px;
}
.caret {
    background: var(--caret); /* Updated */
    width: 2px;
    height: 32px;
    display: inline-block;
    vertical-align: 10px;
    /*animation: blink 1s step-start 0s infinite;/*/
}
@keyframes blink {
    50% { background: transparent; }
}