@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

/* Ensure the wrapper takes full viewport height and uses the dark background */
.home-wrapper {
    min-height: 100vh;
    background-color: #13223A;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Styling for buttons to match Flutter's rounded, dark blue buttons */
.action {
    width: 128px;
    height: 48px;
    background-color: #174065;
    color: #ffffff;
    /*border-radius: 24px;*/
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for buttons */
.action:hover {
    background-color: #1a4971;
}

/* Style for footer */
footer {
    text-align: center;
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}


.main-body{
    padding-left: 3rem;
}